@import "tailwindcss";

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

@media (max-width: 768px) {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}